.container
  p[style="color: green"]
    = notice
  h1
    | Recipes
  .d-grid.justify-content-end
    - if can? :create, Recipe
      = link_to 'New recipe', new_recipe_path, class: 'btn btn-primary mt-2'
  = render partial: 'list', locals: { recipes: @recipes }
