<div class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="navbar-nav">
      <a href="/" class="nav-link">Home</a>
      <a href="/auth/sign_in" class="nav-link">Login</a>
      <a href="/auth/sign_up" class="nav-link">Sign Up</a>
    </div>
  </div>
</div>
